server:
  port: 0

spring:
  application:
    name: album-service
  zipkin:
    base-url: http://localhost:9411
    sender:
      type: web
  sleuth:
    sampler:
      probability: 1 # 1 - 100%, 0.1 - 10%

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:eureka@localhost:8000/eureka
  instance:
    hostname: localhost
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

logging:
  file: ${spring.application.name}.log
