server:
  port: 0

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: user1
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672
    usename: guest
    password: guest
  zipkin:
    base-url: http://localhost:9411
    sender:
      type: web
  sleuth:
    sampler:
      probability: 1 # 1 - 100%, 0.1 - 10%

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka
  instance:
    hostname: localhost
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

gateway:
  ip: 127.0.0.1

token:
  expirationTime: 864000000 # 10 days
  secret: hadfsvqwetr3743b2hg5r

login:
  urlPath: /users/login

albums:
  url: http://ALBUM-SERVICE/users/%s/albums

management:
  endpoints:
    web:
      exposure:
        include: mappings

logging:
  level:
    wg.user.client.AlbumServiceClient: DEBUG # for Feign Clients
  file: ${spring.application.name}.log

feign:
  hystrix:
    enabled: true
