server:
  port: 0

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: user1
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: create
  rabbitmq:
    host: localhost
    port: 5672
    usename: guest
    password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka
  instance:
    hostname: localhost
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

gateway:
  ip: 127.0.0.1

token:
  expirationTime: 864000000 # 10 days
  secret: hadfsvqwetr3743b2hg5r

login:
  urlPath: /users/login

albums:
  url: http://ALBUM-SERVICE/users/%s/albums

management:
  endpoints:
    web:
      exposure:
        include: mappings