server:
  port: 8001

spring:
  application:
    name: zuul-api-gateway-service

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka
  instance:
    hostname: localhost

api:
  login:
    urlPath: /user-service/users/login
  registration:
    urlPath: /user-service/users

authorization:
  token:
    headerName: Authorization
    headerPrefix: Bearer

token:
  secret: hadfsvqwetr3743b2hg5r